body {
  background-color: #f2f2f2;
}

.topGradient {
  background-color: #248F24;
  background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #33CC33), color-stop(100%, #248F24));
  background: -webkit-linear-gradient(left, #33CC33, #248F24);
  background: -moz-linear-gradient(left, #33CC33, #248F24);
  background: -o-linear-gradient(left, #33CC33, #248F24);
  background: linear-gradient(left, #33CC33, #248F24);
  width: 100%;

  top: 0;
  height: 3px;
}

#container {
  background-color: #ffffff;

  border-style: solid;
  border-width: 1px;
  border-color: #d8d8d8;

  margin-top: 4em;
  margin-bottom: 1.25rem;
  padding: 1.25rem;
}

#version {
  margin-top: 2em;
}

.widget {
  min-height: 215px;
  max-height: 215px;
  padding: 15px;
}

.small-text {
  font-size: 0.8rem;
}

.text-muted {
  color: #999;
}

.circleProgress {
  height: 120px;
  width: 120px;
  margin: 0 auto;
}

.circleProgress .percent {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.1);
  position: absolute;
  line-height: 100px;
  width: 120px;
}

.circleProgress svg path {
  fill: none;
}

.circleProgress svg.progress-circle path {
  stroke: #248F24;
  stroke-width: 2;
}