.topGradient {
	background-color: #248F24;
	background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #33CC33), color-stop(100%, #248F24));
	background: -webkit-linear-gradient(left, #33CC33, #248F24);
	background: -moz-linear-gradient(left, #33CC33, #248F24);
	background: -o-linear-gradient(left, #33CC33, #248F24);
	background: linear-gradient(left, #33CC33, #248F24);
	width: 100%;
	position: fixed;
	top: 0;
	height: 3px;
}

#header {
	margin-top: 4em;
	margin-bottom: 4em;
}

.widget {
	min-height: 215px;
	max-height: 215px;
	padding: 15px;
}

.small-text {
	font-size: 0.8rem;
}
