<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Dashen</title>

    <link rel="stylesheet" href='/static/css/normalize.css' />
    <link rel="stylesheet" href='/static/css/foundation.min.css' />
    <link rel="stylesheet" href='/static/css/style.css' />

    {scripts}
</head>
<body>

    <div class="row">

        <div class="medium-12 columns" id="content">
        </div>

    </div>
{components}

<script type="text/jsx">
  {generated}
</script>
</body>
</html>