<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <title>Dashen</title>

    <link rel="stylesheet" href='/static/css/normalize.css' />
    <link rel="stylesheet" href='/static/css/foundation.min.css' />
    <link rel="stylesheet" href='/static/css/style.css' />

    <script type="text/javascript" src="/static/js/react.min.js"></script>
    <script type="text/javascript" src="/static/js/JSXTransformer.js"></script>
    <script type="text/javascript" src="/static/js/jquery-1.10.0.min.js"></script>
    <script type="text/jsx" src="/static/js/wrapper.jsx"></script>
    <script type="text/jsx" src="/static/js/dashboard.jsx"></script>
    <script type="text/jsx" src="/static/js/header.jsx"></script>
  </head>
  <body>

    <div class="topGradient"></div>
    <div id="content" class="row"></div>

    <div class="row">
      <hr />
      <div class="large-12 columns">
        <p class="text-muted left">
          <a href="https://github.com/pondidum/Dashen">Github Project</a>
        </p>
        <p class="text-muted right">Written by Andy Dote, Version ${Ap DashenVersion}.</p>
      </div>
    </div>

    {components}

    <script type="text/jsx">
      React.renderComponent(
        <Dashboard url='/models/all' />,
        document.getElementById('content')
      );
    </script>
  </body>
</html>
